{% include "admin/navbar.html" %}
<div class="container shadow rounded-4" style="background-image:linear-gradient(to right,#94e2eb,#62b4d1,#105e8e); letter-spacing: 2px;">
    <div class="row p-5 text-white">
        <div class="col-md-12 mb-4 text-white">
            <h2 style="text-shadow: 4px 3px 3px black;">Appointment List </h2>
        </div>
        <hr>
        <div class="col-md-12">
            <table class="table table-bordered text-white">
                <tr>
                    <th>Action </th>
                    <th>Name </th>
                    <th>Mobile No. </th>
                    <th>Aaddress </th>
                    <th>Age </th>
                    <th>Date of Birth </th>
                    <th>Blood Group </th>
                    <th>Appointment Date </th>



                </tr>
            </table>
        </div>
    </div>
</div>
{% include "admin/footer.html" %}