{% include "admin/navbar.html" %}
<div class="container shadow rounded-4" style="background-image:linear-gradient(to right,#94e2eb,#62b4d1,#105e8e); letter-spacing: 2px;">
    <div class="row p-5 text-white">
        <div class="col-md-12 mb-4 text-white">
            <h2 style="text-shadow: 4px 3px 3px black;">Edit Inauguration Page </h2>
        </div>

        <hr>

        <div class="col-md-6 fs-5 mt-4">
            Heading :
            <input type="text" name="ctitle" class="form-control mt-2">
        </div>
        <div class="col-md-6 fs-5 mt-4">
            Date & Time :
            <input type="text" name="ctitle" class="form-control mt-2" placeholder="Ex. 25 Feb / 12:30 PM">
        </div>
        <div class="col-md-6 fs-5 mt-4 mb-5">
           Venu Details :
            <textarea name="ctitle" class="form-control mt-2" placeholder="Address...."></textarea>
        </div>

        <hr>

        <div class="col-md-12 fs-5 ">
            Key Speakers 
        </div>
        <div class="col-md-4 fs-5 mt-4">
            Speaker Image :
            <input type="file" name="ctitle" class="form-control mt-2">
        </div>
        <div class="col-md-4 fs-5 mt-4">
            Speaker Name :
            <input type="text" name="ctitle" class="form-control mt-2">
        </div>
        <div class="col-md-4 fs-5 mt-4 mb-5">
            Speaker Position :
            <input type="text" name="ctitle" class="form-control mt-2">
        </div>

        <hr>

        <div class="col-md-6">
            Heading :
            <input type="text" name="ctitle" class="form-control mt-2">
        </div>
        <div class="col-md-6">
            Details :
            <textarea name="ctitle" class="form-control mt-2"></textarea>
        </div>
        <div class="col-md-6">
            Sponsers Image :
            <input type="file" name="ctitle" class="form-control mt-2">
        </div>

        <div class="col-md-12 mt-5 text-center">
            <button class="btn btn-dark text-white">Upload</button>
        </div>
       
    </div>
</div>
{% include "admin/footer.html" %}