{% include "admin/navbar.html" %}
<div class="container shadow rounded-4" style="background-image:linear-gradient(to right,#94e2eb,#62b4d1,#105e8e); letter-spacing: 2px;">
    <div class="row p-5 text-white">
        <div class="col-md-12 mb-4 text-white">
            <h2 style="text-shadow: 4px 3px 3px black;">Manage Privacy Policy </h2>
        </div>

        <hr>

        <div class="col-md-6 fs-5">
            Heading :
            <input type="text" name="ctitle" class="form-control mt-2">
        </div>
        <div class="col-md-6 fs-5">
            Title :
            <input type="text" name="ctitle" class="form-control mt-2">
        </div>
        <div class="col-md-12 fs-5 mt-4">
            Discription :
            <textarea name="cdiscription" class="form-control mt-2"></textarea>
        </div>

        <div class="col-md-6 fs-5 mt-4">
            Summary :
            <input type="text" name="ctitle" class="form-control mt-2">
        </div>

        <div class="col-md-4 d-grid gap-2 mt-5 mb-5">
            <button class="btn btn-dark text-white">Upload</button>
        </div>
        
        <hr>
    </div>
</div>
{% include "admin/footer.html" %}