{% include "user/navbar.html"%}
<div class="container-fluid mt-1 justify-content-center">
    <div class="row ">
        <div class="col-md-12 p-5 text-white" style="background-image:linear-gradient(to right,#87d8e1,#228eb5,#167dbc);">
            <h3 style="text-shadow: 4px 3px 3px black; line-height: 1.8;">DEPARTMENTS</h3>
        </div>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="row m-5">
       <div class="col-md-6">
            <h3 class="ms-5">Medicine</h3>
            <hr>
        <div class="row m-5">
            <div class="col-md-5 me-3">
                <ul style="line-height: 3;">
                    <li>Bladder Clinic</li>
                    <li>Cardiology</li>
                    <li>Clinical Haematology</li>
                    <li>Interventional Neurology</li>
                    <li>Dermatology</li>
                    <li>Diabetology</li>
                    <li>Endocrinology</li>
                    <li>Epileptology</li>
                    <li>Gastroenterology</li>
                    <li>General Medicine</li>
                    <li>Genetics</li>
                    <li>HIV Medicine</li> 
                    <li>Infectious Diseases</li>    
                    <li>Medical Oncology</li>  
                    <li>Nephrology (Renal)</li> 
                    <li>Neurology</li>
                    <li>Advanced Wound Care & Stoma Care Clinic</li> 
                    
                </ul>
            </div>
            <div class="col-md-5 ms-2">
                <ul style="line-height: 3;">
                   
                    <li>Pain Management Clinic</li>  
                    <li>Palliative Care Clinic</li> 
                    <li>Psychiatry</li>
                    <li>Pulmonology (Chest & Allergy)</li> 
                    <li>Radiation  Oncology</li>
                    <li>Rheumatology</li>
                    <li>Sleep Study Clinic</li> 
                    <li>Vertigo Clinic</li> 
                    <li>Geriatric</li>                          
                    <li>Nutrition and Dietetics</li>                    
                    <li>Haematology & Special Coagulation Clinic</li>
                    <li>Orthotics & Prosthetics</li> 
                     
                </ul>
            </div>
        </div>
       </div>



       <div class="col-md-6">
        <h3 class="ms-5">Surgery</h3>
        <hr>
            <div class="row m-5">
                <div class="col-md-5 me-3">
                    <ul style="line-height: 3;">
                        <li>Bariatric Surgery</li>
                        <li>Cardiac Surgery</li>
                        <li>ENT
                        <li>Gastrointestinal Surgery</li>
                        <li>General Surgery</li>
                        <li>Hand & Micro Surgery</li>
                        <li>Hepatobilliary Surgery</li>
                        <li>Neuro Surgery</li>
                        
                        
                    </ul>
                </div>
                <div class="col-md-5 ms-2">
                    <ul style="line-height: 3;">
                    
                            <li>Ophthalmology</li>
                            <li>Oral & Maxillofacial Surgery</li>
                            <li>Orthopaedics
                            <li>Orthopedic Oncology
                            <li>Plastic Surgery</li>
                            <li>Shoulder Surgery</li>
                            <li>Spine Surgery</li>
                            <li>Surgical Oncology
                            <li>Urology
                            <li>Vascular Surgery</li>  
                        
                    </ul>
                </div>
            </div>
        </div>


            <div class="col-md-6">
                <h3 class="ms-5">Critical Care</h3>
                <hr>
                    <div class="row m-5">
                        <div class="col-md-5 me-3">
                            <ul style="line-height: 3;">
                               <li> Adult Critical Care </li>
                               <li> Adult Emergency Medicine</li>
                               <li> High Dependancy Unit (HDU)</li>
                               <li> Intensive Cardiac Care & Neuro Intensive Care Unit  </li>                     
                            </ul>
                        </div>
                        <div class="col-md-5 ms-2">
                            <ul style="line-height: 3;">
                            
                                Intensive Care Unit (ICU)
                                Neonatal Intensive Care Unit (NICU)                               
                                Paediatric Emergency Medicine                               
                                Paediatric Intensive Care Unit (PICU)
                                
                            </ul>
                        </div>
                    </div>
                </div>
       
    </div>
</div>


<div class="container-fluid mt-1 justify-content-center">
    <div class="row ">
        <div class="col-md-12 p-5 text-white" style="background-image:linear-gradient(to right,#87d8e1,#228eb5,#167dbc);">
            <h3 style="text-shadow: 4px 3px 3px black; line-height: 1.8;">SUPPORT DEPARTMENTS</h3>
        </div>
        <div class="col-md-12 p-5">
            <ul type="none" style="line-height: 3;">
                <li>Blood Bank</li>
                <li>Medical Social Work (MSW)</li>
                <li>Palliative Care</li>
                <li>Parkinson’s Disease Support Group</li>
                <li>Physiotherapy & Rehabilitation</li>
            </ul>
        </div>
    </div>
</div>
{% include "user/footer.html"%}
