</main>
<footer>
<div class="container-fluid bg-dark">
    <div class="row ">
        <div class="col-md-4 p-5 ">
            <h5 style="color:#8bc43f;" class="ms-4">QUICK LINKES</h5>
            <ul class="text-white ms-5" type="none" style="line-height: 1.8;">
                <li>Blog</li>
                <li>Careers</li>
                <li>Diversity & Inclusion</li>
                <li>Gallery</li>
                <li>Insurance</li>
                <li>KEM Research Centre</li>
                <li>News & Events</li>
                <li>Newsletters</li>
                <li>Rural Outreach</li>
                <li>Stent Pricing</li>
                <li>Testimonials</li>
            </ul>
        </div>
        <div class="col-md-4 p-5 " style="line-height: 1.8cm;">
            <h5 style="color:#8bc43f;"> ACTIONS</h5> 
            <ul class="text-white" type="square">
                <li>Check OPD Schedule</li>
                <li>Find a Doctor</li>
                <li>Request Health Check Appointment</li>
                <li>Make a Donation</li>
            </ul>
        </div>
        <div class="col-md-4 p-5 " style="line-height: 1.1cm;">
            <h5 style="color:#8bc43f;">CONTACT US</h5>
            <ul class="text-white " type="none">
                <li><i class="fa fa-map-marker"></i> : KEM Hospital
                    489, Rasta Peth, Sardar Moodliar Road,
                    Pune, 411011</li>
                <li><i class="fa fa-phone"></i> : Main Line
                    +91 20 2621 7300</li>
                <li><i class="fa fa-phone"></i> : Enquiry (Mon-Sat, 9:00 AM - 5:00 PM)
                    +91 20 6603 7460</li>
                <li><i class="fa fa-envelope"></i> : info@kemhospital.org</li>
            </ul>
            <h5 style="color:#8bc43f;">FOLLOW US</h5>
            <ul style="display: inline-flex;">
                <li><button class="btn btn-dark  ps-3 pe-3 m-2 fs-2"><i class="fa fa-facebook"></i></button></li>
                <li><button class="btn btn-dark  ps-3 pe-3 m-2 fs-2"><i class="fa fa-linkedin"></i></button></li>
                <li><button class="btn btn-dark  ps-3 pe-3 m-2 fs-2"><i class="fa fa-instagram"></i></button></li>
                <li><button class="btn btn-dark  ps-3 pe-3 m-2 fs-2"><i class="fa fa-youtube"></i></button></li>

            </ul>
        </div>
        <div class="col-md-12 bg-secondary text-white text-center p-4">
            Copyrights @ 2024 KEM Hospital | All Rights Reserved. Designed and Developed by A2Z IT HUB STUDENT
        </div>
    </div>
</div>
</footer>

</body>
</html>