{% include "user/navbar.html"%}
<div class="container-fluid mt-1">
    <div class="row ">
        <div class="col-md-12 p-5 text-white" style="background-image:linear-gradient(to right,#87d8e1,#228eb5,#167dbc);">
            <h3 style="text-shadow: 4px 3px 3px black; line-height: 1.8;">INAUGURATION</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-3 text-center text-white justify-content-center">
        <div class="col-md-10 rounded-4 shadow p-5" style="background-image:linear-gradient(to right,#87d8e1,#228eb5,#167dbc);">
            <h2 class="fst-italic">-:- Welcome To KEM Hospital Inauguration -:-</h2>
            <hr>
        <div class="row justify-content-center mt-5">
            <div class="col-md-5 p-3 border border-white border-3 text-center rounded-4">
                <h4>Date & Time</h4>
                <hr>
                <h5>- 27 Feb / 12:30 PM -</h5>
            </div>
         </div>

         <div class="row justify-content-center mt-5">
            <div class="col-md-8 p-3 border border-white border-3 text-center rounded-4">
                <h4>Venu Details</h4>
                <hr>
                <h5>-: 489, Mudaliar Rd, Rasta Peth, Pune, Maharashtra 411011 :-</h5>
            </div>
         </div>

         <div class="row justify-content-center mt-5">
            <div class="col-md-7 p-3 border border-white border-3 text-center rounded-4">
                <h4>key Speakers</h4>
                <hr>
                <div class="row p-3">
                    <div class="col-md-2 p-1 bg-white shadow rounded-3 ">
                        <img src="/static/profiles/Dr-banoo-koyaji2.jpg" class="rounded-2" width="100%" height="100%">
                    </div>
                    <div class="col-md-4 p-3">
                        <h5>Dr. Banoo Coyaji</h5>
                        <p>Chief Medical Officer</p>
                    </div>
                    <div class="col-md-2 p-1 bg-white shadow rounded-3 ">
                        <img src="/static/profiles/Dr-Kurus-Coyaji1.jpg" class="rounded-2" width="100%" height="100%">

                    </div>
                    <div class="col-md-4 p-3">
                        <h5>Dr. Kurus Coyaji</h5>
                        <p>President, KEM Hospital Society</p>
                    </div>
                </div>

            </div>
         </div>

         <hr>
         
         <div class="col-md-12 p-5 border border-white border-3 text-center rounded-4">
            <h5 class="fst-italic">-:- About KEM Hospital -:-</h5>
            <p class="fs-monolog">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <img src="/static/gallery/unnamed.jpg" width="200px" class="rounded-2">
         </div>
        </div>
    </div>
</div>
{% include "user/footer.html"%}
