{% include "user/navbar.html"%}
<div class="container-fluid mt-1">
    <div class="row ">
        <div class="col-md-12 pt-5 text-white" style="background-image:linear-gradient(to right,#87d8e1,#228eb5,#167dbc);">
            <h3 style="text-shadow: 4px 3px 3px black; line-height: 1.8;">SOCIAL MEDIA</h3>
        </div>
    </div>
</div>

<div class="container-fluid p-5" style="background-image:linear-gradient(to right,#87d8e1,#228eb5,#167dbc);">
    <div class="row justify-content-center">
        <div class="col-md-3 p-4 me-5 mt-5 text-center bg-white rounded-4 shadow">
            <i class="fa fa-youtube fs-1 "></i>
            <hr>
            <p class="monospace">Connect With Us on You Tube.</p>
            <hr>
            <a href="https://www.youtube.com/@kemhospitalpune6313">
                <button class="btn btn-danger">Connect</button>
            </a>
        </div>
        <div class="col-md-3 p-4 me-5 mt-5 text-center bg-white rounded-4 shadow">
            <i class="fa fa-instagram fs-1 "></i>
            <hr>
            <p class="monospace">Connect With Us on Instagram.</p>
            <hr>
            <a href="https://www.instagram.com/kemhospitalpune/">
                <button class="btn btn-danger">Connect</button>
            </a>
        </div>
        <div class="col-md-3 p-4 me-5 mt-5 text-center bg-white rounded-4 shadow">
            <i class="fa fa-facebook fs-1 "></i>
            <hr>
            <p class="monospace">Connect With Us on FaceBook.</p>
            <hr>
            <a href="https://www.facebook.com/kempune">
                <button class="btn btn-danger">Connect</button>
            </a>
        </div>
        <div class="col-md-3 p-4 me-5 mt-5 text-center bg-white rounded-4 shadow">
            <i class="fa fa-linkedin fs-1 "></i>
            <hr>
            <p class="monospace">Connect With Us on LinkedIn.</p>
            <hr>
            <a href="https://www.linkedin.com/company/kemhospitalpune/">
                <button class="btn btn-danger">Connect</button>
            </a>
        </div>
        
    </div>
</div>
{% include "user/footer.html"%}