{% include "user/navbar.html"%}
<div class="container-fluid mt-1">
    <div class="row ">
        <div class="col-md-12 pt-5 ps-5 text-white" style="background-image:linear-gradient(to right,#87d8e1,#228eb5,#167dbc);">
            <h3 style="text-shadow: 4px 3px 3px black; line-height: 1.8;">TESTIMONIALS</h3>
        </div>
    </div>
</div>
<div class="container-fluid p-5" style="background-image:linear-gradient(to right,#87d8e1,#228eb5,#167dbc);">
    <div class="row m-5 justify-content-center text-white">
        <div class="col-md-8">
            <h2>Patient Testimonials</h2>
            <hr>
            <i class="fa fa-quote-left text-black mt-3" style="font-size: 30px;"></i>
            <p>KEM private hospital care with love, affection with genuine medical advice with treatment. It’s an institutional care with modern up to date facilities under an efficient & expert doctor with their team.
                “YOU FEEL SAFE IN SAFE HANDS!!”</p>
            <b>by Ravi Shinde</b><p>Dec 2023</p>
            <hr>



            <i class="fa fa-quote-left text-black mt-3" style="font-size: 30px;"></i>
            <p>KEM private hospital care with love, affection with genuine medical advice with treatment. It’s an institutional care with modern up to date facilities under an efficient & expert doctor with their team.
                “YOU FEEL SAFE IN SAFE HANDS!!”</p>
            <b>by Ravi Shinde</b><p>Dec 2023</p>
            <hr>


            <i class="fa fa-quote-left text-black mt-3" style="font-size: 30px;"></i>
            <p>KEM private hospital care with love, affection with genuine medical advice with treatment. It’s an institutional care with modern up to date facilities under an efficient & expert doctor with their team.
                “YOU FEEL SAFE IN SAFE HANDS!!”</p>
            <b>by Ravi Shinde</b><p>Dec 2023</p>
            <hr>



            <i class="fa fa-quote-left text-black mt-3" style="font-size: 30px;"></i>
            <p>KEM private hospital care with love, affection with genuine medical advice with treatment. It’s an institutional care with modern up to date facilities under an efficient & expert doctor with their team.
                “YOU FEEL SAFE IN SAFE HANDS!!”</p>
            <b>by Ravi Shinde</b><p>Dec 2023</p>
            <hr>

        </div>
    </div>
 </div>
{% include "user/footer.html"%}

